@model IEnumerable<WebApplication5.Models.orders>


@{
    ViewData["Title"] = "myorders";
}
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Table</title>
    <style>
        .btn-custom {
            background-color: #D2B48C; /* Lighter coffee color for buttons */
            border: none;
            color: #6F4E37; /* Brown color for text */
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }

            .btn-custom:hover {
                background-color: #FFF5E1; /* Coffee color for hover */
                color: #6F4E37;
            }
    </style>
</head>
<body>
    <h1>myorders</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Book Title</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mostafa</td>
                <td>Netter's Atlas of Human Anatomy</td>
                <td>2</td>
                <td>70</td>
                <td><a class="btn-custom" href="#">Delete</a></td>
            </tr>
            <tr>
                <td>Mostafa</td>
                <td>Your Journey to Mastery</td>
                <td>4</td>
                <td>40</td>
                <td><a class="btn-custom" href="#">Delete</a></td>
            </tr>
            <tr>
                <td>Mostafa</td>
                <td>You Don't Know JS : Up & Going</td>
                <td>1</td>
                <td>10</td>
                <td><a class="btn-custom" href="#">Delete</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
